{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>ABOUT</h1>

            <h4>Hello , My name is Alok Jhunjhunwala pursing B-TECH in Computer Science and Engineering from Srm
                Institue of Science and Technology</h4>
            <h4>This is an assignment which was given to me by Freshworks for the post of Graduate Trainee position, in
                which I had used CRUD functionality using Flask in my Database SQLAlchemy</h4>
            <br>
            <h5>To know more about me please visit my LinkedIn profile </h5>
            <a class="btn btn-primary" target=_blank href='https://www.linkedin.com/in/alok-jhunjhunwala-21a1ab1b5/'
                role="button">Go to LinkedIn &raquo;</a>
            </p>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}