{% extends 'base.html' %}

{% block head %}
<title>Edit</title>
{% endblock %}

{% block body %}
<h1>Update Posts</h1>
<hr>
<h2>Edit Blog Post:</h2>
<form action='/posts/edit/{{post.id}}' method='POST'>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name=author value="{{post.author}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name=title value="{{post.title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" class="form-control" id="content" name="content" value="{{post.content}}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}